<% provide(:title, 'Home') %>
<center>
<h1>Sample App</h1>
   <p>
به سایت cloud app خوش آمدید
<hr><br>
<image src="/app/assets/images/parsa.jpeg"></image>
      This is the home page for the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </p></center>
